{% load djblets_utils i18n staticfiles %}

{% if request.user.pk == review_request.submitter_id or perms.reviews.can_change_status and review_request.public %}
{%  if review_request.status == 'P' %}
{%  endif %}
{% endif %}
{% if request.user.pk == review_request.submitter_id or perms.reviews.can_edit_reviewrequest %}
{%  if review_request.status == 'P' %}
 <li class="has-menu">
  <ul class="menu" style="display: none;">
{%  if upload_diff_form %}
{%  endif %}
  </ul>
 </li>
{%  endif %}
{% endif %}
